<div id="header" class="text-center">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "" %>
</div>
<h1 class="text-center">EU XML Notification Generator</h1>
<div class="text-center">
  <%= link_to "Lancer la création des XML", gogogo_path, class: "c2a" %>
</div>
<div class="text-center">
  <%= link_to "Y-a-t'il une génération de fichier en cours?", job_in_progress_path, remote: true %>
  <span id="job-info">=> <%= @job_in_progress ? "oui" : "non" %></span>
</div>
<%= render "missing_xmls" if @missing_xmls %>
<h2 class="text-center">Comment ça marche?</h2>
<div>
  <ol>
    <li>
      Uploader sur le FTP, dans la partie 'sources_xmls', les fichiers contenant les blocs XML : <span class="bg-lg">Presention</span>, <span class="bg-lg">Ingredient</span>, <span class="bg-lg">Emission</span>. Ne pas oublier de mettre à jour <span class="t-i t-u bg-lg">base.xml</span> (si besoin).
    </li>
    <li>
      Compléter le fichier Excel <span class="t-i t-u bg-lg">datas_for_eu_xml.slsx</span> avec les valeurs particulères de chaque produit. 4 onglets sont à remplir.
    </li>
    <li>
      Enregistrer les 4 onglets du fichier <span class="t-i t-u bg-lg">datas_for_eu_xml.slsx</span> dans des fichiers à part, au format CSV avec un encodage UTF-8*. Le nom des 4 fichiers CSV importe peu.
    </li>
    <li>
      Uploader les 4 fichiers dans le répertoire idoine dans la partie <span class="bg-lg">csvs</span> du FTP : le nom des répertoires correspond aux noms des onglets du fichier Excel.
    </li>
    <li>
      Lancer la génération des fichiers XML en cliquant sur le bouton ci-dessus
    </li>
    <li>
      Récupérer les fichiers XML générés par l'application dans le répertoire <span class="bg-lg">target_xmls</span> du FTP.
    </li>
  </ol>
  <div id="utf8">
    (*) Process à suivre pour générer des .csv encodés en UTF-8 (avec le logiciel <%= link_to "SublimeText", "https://www.sublimetext.com/3", target: "_blank" %>) :
    <ol>
      <li>dans Excel : enregistrer l'onglet au format CSV (MS-DOS semble le mieux)</li>
      <li>ouvrir le fichier .csv avec SublimeText</li>
      <li>supprimer les lignes vides à la fin du fichier</li>
      <li>choisir File > Save with encoding > UTF-8</li>
    </ol>
  </div>
</div>
<h3 class="text-center">Le FTP</h3>
<div>
  <p>
    Le répertoire FTP est structuré de la façon suivante :<br>
    |- csvs<span class="comment"> => c'est ici que sont téléchargés les tableaux contenant les valeurs particulières propres aux différents produits</span><br>
      <span class="pdd-left-20px">|- countries</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">countries.csv</span><span class="comment"> => onglet 'products_countries' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px">|- emissions</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">emissions.csv</span><span class="comment"> => onglet 'products_emissions' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px">|- ingredients</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">ingredients.csv</span><span class="comment"> => onglet 'products_ingredients' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px">|- product_datas</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">product_datas.csv</span><span class="comment"> => onglet 'products_datas' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
    |- sources_xmls<span class="comment"> => c'est ici que sont téléchargés les blocs XML de base, où ils sont récupérés, modifiés et agencés pour constituer les fichiers cibles.</span><br>
      <span class="pdd-left-20px">|- emissions</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">emissions_01.xml</span><span class="comment"> => 'banque' de blocs XML 'Emission' : 1 bloc par cas number, le fichier peut contenir autant de blocs que vous le souhaitez.</span></span></span><br>
      <span class="pdd-left-20px">|- ingredients</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">ingredients_01.xml</span><span class="comment"> => 'banque' de blocs XML 'Ingredient' : 1 bloc par cas number, le fichier peut contenir autant de blocs que vous le souhaitez.</span></span></span><br>
      <span class="pdd-left-20px">|- presentations</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">presentation-01.xml</span><span class="comment"> => bloc XML 'Presentation' : 1 seul bloc dans le fichier</span></span></span><br>
      <span class="pdd-left-20px">|- <span class="t-i t-u">base.xml</span><span class="t-i comment"> => fichier XML servant de base à la création des XMLs pour chaque produit</span></span><br>
    |- target_xmls<span class="t-i comment"> => c'est ici que sont enregistrés les fichiers XML cibles générés par l'application (1 fichier par produit).</span></span><br>
    |- <span class="t-i"><span class="t-u">datas_for_eu_xml.xlsx</span><span class="comment"> => fichier Excel permettant de saisir les valeurs particulières des produits</datas_for_eu_xml></span>
  </p>
  <p class="comment">(1) Le nom du fichier impote peu. Le dossier peut contenir plusiseurs fichiers : ils seront tous traités.</p>
</div>

<h3 class="text-center">datas_for_eu_xml.xlsx</h3>
<div>
  <p>
    C'est dans ce fichier que :
    <ul>
      <li>sont saisies les valeurs particulières propres aux différents produits, à intégrer dans le XML cible.</li>
      <li>sont indiqués les noms des fichiers dans lesquels les différents composants XML sont récupérés (<span class="bg-lg">Presentation</span>, <span class="bg-lg">Ingredient</span>, <span class="bg-lg">Emission</span>), avant d'être mis à jour et intégrés au XML cible.</li>
    </ul>
  </p>
  <p>
    Le fichier est composé des onglets suivants :
    <ul>
      <li>
        <span class="bg-lg">products_datas</span> => on y trouve les balises XML appartenant aux noeuds <span class="bg-lg">Product</span>, <span class="bg-lg">Presentation</span> et <span class="bg-lg">Design</span>.
        <ul>
          <li>La colonne <span class="bg-lg">uuid</span> est importante pour pouvoir générer des XML cibles valides => à compléter avec un code uuid fournit par l'application de l'europe. /!\ il faut un code différent par produit (donc par ligne).</li>
          <li>La colonne <span class="bg-lg">presentation_file_name</span> contient le nom du fichier où récupérer le bloc XML <span class="bg-lg">Presentation</span> (sur le FTP).</li>
        </ul>
      </li>
      <li>
        <span class="bg-lg">products_countries</span> => 1 ligne par produit, en précisant les codes pays en colonne (1 code pays par colonne). Cet onglet sert à générer un bloc <span class="bg-lg">Presentation</span> par pays.
      </li>
      <li>
        <span class="bg-lg">products_ingredients</span> => 1 ligne par ingrédient et par produit.
        <ul>
          <li>La colonne <span class="bg-lg">Ingredients_file_name</span> contient le nom du fichier où récupérer le bloc XML <span class="bg-lg">Ingredient</span> correspondant au cas number (sur le FTP).</li>
        </ul>
      </li>
      <li>
        <span class="bg-lg">products_emissions</span> => 1 ligne par émission et par produit. Si un produit contient 10 émissions, cela fera donc 10 lignes.
        <ul>
          <li>La colonne <span class="bg-lg">Emissions_file_name</span> contient le nom du fichier où récupérer le bloc XML <span class="bg-lg">Emission</span> correspondant au cas number (sur le FTP).</li>
        </ul>
      </li>
    </ul>
  </p>
  <p>
    Une fois le fichier Excel complété, chaque onglet doit être enregistré dans un fichier <span class="bg-lg">.csv</span> à part. Les 4 fichiers ainsi créés doivent ensuite être uploadés sur le FTP, à l'intérieur des répertoires correspondant dans <span class="bg-lg">csvs/</span>. Le nom des fichiers <span class="bg-lg">.csv</span> importe peu. Tous les fichiers présents dans les répertoires <span class="bg-lg">csvs/</span>... seront traités.
  </p>
</div>

<h3 class="text-center">Fonctionnement</h3>
<div>
  <p>
    Cette application génère des fichiers XML, au format attendu par l'Union Européenne pour la notification de mise sur le marché de nouveaux produits. Les fichiers sont constitués à partir des composants XML présents sur le FTP dédié (espace de stockage de fichier en ligne). Les valeurs particulières propres à chaque produit sont renseignées dans un fichier Excel. Elles sont enregistrées sur le FTP au format CSV, où elles sont récupérées par l'application pour adapter les composants XML de base à chaque produit.
  </p>
  <p>
    L'application part d'une base pour générer les fichiers XML correspondant à chaque produit : cette base est contenue dans le fichier <span class="t-i t-u bg-lg">sources_xmls/base.xml</span>. Toutes les balises XML présentes dans ce fichier sont donc reprises telles quelles dans les fichiers générés par l'application, à l'exception des balises correspondant aux colonnes de l'onglet <span class="bg-lg">product_datas</span> du fichier <span class="t-i bg-lg">datas_for_eu_xml.xlsx</span>. Celles-ci sont mises à jour en fonction des données saisies dans l'Excel.
  </p>
  <p>
    Ensuite, différents blocs <span class="bg-lg">Presentation, Ingredient & Emission</span> sont insérés :
    <ul>
      <li>le bloc <span class="bg-lg">Presentation</span> est récupéré à l'intérieur du dossier <span class="bg-lg">sources_xmls/presentations</span>, à l'intérieur du fichier mentionné au niveau de la colonne <span class="bg-lg">presentation_file_name</span> de l'onglet <span class="bg-lg">product_datas</span> du fichier <span class="t-i t-u bg-lg">datas_for_eu_xlsx</span>. Les balises XML <span class="bg-lg">LaunchDate, ProductNumber, Year</span> sont mises à jour en fonction des valeurs saisies dans les colonnes correspondantes de l'onglet <span class="bg-lg">product_datas</span>. Le bloc est ensuite dupliqué pour chaque pays enregistrés pour le produit dans l'onglet <span class="bg-lg">products_countries</span>, en modifiant à chaque duplication la valeur du <span class="bg-lg">NationalMarket</span>.</li>
      <li>pour chaque ingredient du produit, le bloc <span class="bg-lg">Ingredient</span> correspondant au cas number est récupéré à l'intérieur du dossier <span class="bg-lg">sources_xmls/ingredients</span>, à l'intérieur du fichier mentionné au niveau de la colonne <span class="bg-lg">ingredients_file_name</span> de l'onglet <span class="bg-lg">product_ingredients</span> du fichier <span class="t-i t-u bg-lg">datas_for_eu_xml.xlsx</span>. Les balises XML correspondant aux colonnes de l'onglet <span class="bg-lg">product_ingredients</span> sont mises à jour en fonction des valeurs saisies dans l'Excel.</li>
      <li>pour chaque emission du produit, le bloc <span class="bg-lg">Emission</span> correspondant au cas number est récupéré à l'intérieur du dossier <span class="bg-lg">sources_xmls/emissions</span>, à l'intérieur du fichier mentionné au niveau de la colonne <span class="bg-lg">emissions_file_name</span> de l'onglet <span class="bg-lg">product_emissions</span> du fichier <span class="t-i t-u bg-lg">datas_for_eu_xml.xlsx</span>. Les balises XML correspondant aux colonnes de l'onglet <span class="bg-lg">product_emissions</span> sont mises à jour en fonction des valeurs saisies dans l'Excel.</span></li>
    </ul>
  </p>
</div>
