<div id="header" class="text-center">
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "" %>
</div>
<h1 class="text-center">EU XML Notification Generator</h1>
<div id="process_information" class="text-center"></div>
<div id="missings-xmls" class="<%= "hidden" unless @missing_ingredient_cas || @missing_emission_cas %>">
  <%= render "missing_xmls", missing_ingredients: @missing_ingredient_cas || [],
    missing_emissions: @missing_emission_cas || [] %>
</div>
<div id="add-sales-feedback" class="<%= "hidden" unless @feedback %>">
  <%= render "annual_sales_feedback", feedback: @feedback %>
</div>
<div class="text-center">
  <%= link_to "Vérifier les ingredients et les emissions", check_datas_path, remote: true, class: "c2a" %>
</div>
<div class="text-center">
  <%= link_to "Lancer la création des XML", gogogo_path, remote: true, class: "c2a" %>
</div>
<div class="text-center">
  <%= link_to "Lancer l'ajout des AnnualSalesDatas", add_annual_sales_path, remote: true, class: "c2a" %>
</div>
<h2 class="text-center">Comment ça marche?</h2>
<div>
  <ol>
    <li>
      Uploader sur le FTP, dans la partie 'sources_xmls', les fichiers contenant les blocs XML : <span class="bg-lg">Presention</span>, <span class="bg-lg">Ingredient</span>, <span class="bg-lg">Emission</span>. Ne pas oublier de mettre à jour <span class="t-i t-u bg-lg">base.xml</span> (si besoin).
    </li>
    <li>
      Compléter le fichier Excel <span class="t-i t-u bg-lg">datas_for_eu_xml.slsx</span> avec les valeurs particulères de chaque produit. 4 onglets sont à remplir.
    </li>
    <li>
      Enregistrer les 4 onglets du fichier <span class="t-i t-u bg-lg">datas_for_eu_xml.slsx</span> dans des fichiers à part, au format CSV avec un encodage UTF-8*. Le nom des 4 fichiers CSV importe peu.
    </li>
    <li>
      Uploader les 4 fichiers dans le répertoire idoine dans la partie <span class="bg-lg">csvs</span> du FTP : le nom des répertoires correspond aux noms des onglets du fichier Excel.
    </li>
    <li>
      Lancer la génération des fichiers XML en cliquant sur le bouton ci-dessus
    </li>
    <li>
      Récupérer les fichiers XML générés par l'application dans le répertoire <span class="bg-lg">target_xmls</span> du FTP.
    </li>
  </ol>
  <div id="utf8">
    (*) Process à suivre pour générer des .csv encodés en UTF-8 (avec le logiciel <%= link_to "SublimeText", "https://www.sublimetext.com/3", target: "_blank" %>) :
    <ol>
      <li>dans Excel : enregistrer l'onglet au format CSV (MS-DOS semble le mieux)</li>
      <li>ouvrir le fichier .csv avec SublimeText</li>
      <li>supprimer les lignes vides à la fin du fichier</li>
      <li>choisir File > Save with encoding > UTF-8</li>
    </ol>
  </div>
</div>
<h3 class="text-center">Le FTP</h3>
<div>
  <p>
    Le répertoire FTP est structuré de la façon suivante :<br>
    |- csvs<span class="comment"> => c'est ici que sont téléchargés les tableaux contenant les valeurs particulières propres aux différents produits</span><br>
      <span class="pdd-left-20px">|- countries</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">countries.csv</span><span class="comment"> => onglet 'products_countries' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px">|- emissions</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">emissions.csv</span><span class="comment"> => onglet 'products_emissions' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px">|- ingredients</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">ingredients.csv</span><span class="comment"> => onglet 'products_ingredients' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px">|- product_datas</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">product_datas.csv</span><span class="comment"> => onglet 'products_datas' du fichier 'datas_for_eu_xml.xlsx', enregistré au format CSV (1)</span></span></span><br>
      <span class="pdd-left-20px d-ib">|- sales_updates<span class="comment"> => contient le CSV contenant les données pour l'ajout des chiffres d'affaires annuels.</span></span><br>
    |- sales_updates<span class="comment"> => section dédiée à l'ajout des chiffres d'affaires annuels.</span><br>
      <span class="pdd-left-20px d-ib">|- source_xmls<span class="comment"> => ici sont téléchargés les fichiers XML d'origine, auxquels on souhaite rajouter des AnnualSalesDatas</span></span><br>
      <span class="pdd-left-20px d-ib">|- updated_xmls<span class="comment"> => ici sont récupérés les fichiers dans lesquels les AnnualSalesDatas ont été ajoutés</span></span><br>
    |- sources_xmls<span class="comment"> => c'est ici que sont téléchargés les blocs XML de base, où ils sont récupérés, modifiés et agencés pour constituer les fichiers cibles.</span><br>
      <span class="pdd-left-20px">|- emissions</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">emissions_01.xml</span><span class="comment"> => 'banque' de blocs XML 'Emission' : 1 bloc par cas number, le fichier peut contenir autant de blocs que vous le souhaitez.</span></span></span><br>
      <span class="pdd-left-20px">|- ingredients</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">ingredients_01.xml</span><span class="comment"> => 'banque' de blocs XML 'Ingredient' : 1 bloc par cas number, le fichier peut contenir autant de blocs que vous le souhaitez.</span></span></span><br>
      <span class="pdd-left-20px">|- presentations</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">presentation-01.xml</span><span class="comment"> => bloc XML 'Presentation' : 1 seul bloc dans le fichier</span></span></span><br>
      <span class="pdd-left-20px">|- sales_data</span><br>
      <span class="pdd-left-40px d-ib">|- <span class="t-i"><span class="t-u">annual_sales_data.xml</span><span class="comment"> => bloc XML 'AnnualSalesData' : 1 seul bloc dans le fichier</span></span></span><br>
      <span class="pdd-left-20px">|- <span class="t-i t-u">base.xml</span><span class="t-i comment"> => fichier XML servant de base à la création des XMLs pour chaque produit</span></span><br>
    |- target_xmls<span class="t-i comment"> => c'est ici que sont enregistrés les fichiers XML cibles générés par l'application (1 fichier par produit).</span></span><br>
    |- <span class="t-i"><span class="t-u">datas_for_eu_xml.xlsx</span><span class="comment"> => fichier Excel permettant de saisir les valeurs particulières des produits</datas_for_eu_xml></span>
  </p>
  <p class="comment">(1) Le nom du fichier impote peu. Le dossier peut contenir plusiseurs fichiers : ils seront tous traités.</p>
</div>

<h3 class="text-center">datas_for_eu_xml.xlsx</h3>
<div>
  <p>
    C'est dans ce fichier que :
    <ul>
      <li>sont saisies les valeurs particulières propres aux différents produits, à intégrer dans le XML cible.</li>
      <li>sont indiqués les noms des fichiers dans lesquels les différents composants XML sont récupérés (<span class="bg-lg">Presentation</span>, <span class="bg-lg">Ingredient</span>, <span class="bg-lg">Emission</span>), avant d'être mis à jour et intégrés au XML cible.</li>
    </ul>
  </p>
  <p>
    Le fichier est composé des onglets suivants :
    <ul>
      <li>
        <span class="bg-lg">products_datas</span> => on y trouve les balises XML appartenant aux noeuds <span class="bg-lg">Product</span>, <span class="bg-lg">Presentation</span> et <span class="bg-lg">Design</span>.
        <ul>
          <li>La colonne <span class="bg-lg">uuid</span> est importante pour pouvoir générer des XML cibles valides => à compléter avec un code uuid fournit par l'application de l'europe. /!\ il faut un code différent par produit (donc par ligne).</li>
          <li>La colonne <span class="bg-lg">presentation_file_name</span> contient le nom du fichier où récupérer le bloc XML <span class="bg-lg">Presentation</span> (sur le FTP).</li>
        </ul>
      </li>
      <li>
        <span class="bg-lg">products_countries</span> => 1 ligne par produit, en précisant les codes pays en colonne (1 code pays par colonne). Cet onglet sert à générer un bloc <span class="bg-lg">Presentation</span> par pays.
      </li>
      <li>
        <span class="bg-lg">products_ingredients</span> => 1 ligne par ingrédient et par produit. Si un produit contient 10 ingrédients, cela fera donc 10 lignes.
      </li>
      <li>
        <span class="bg-lg">products_emissions</span> => 1 ligne par émission et par produit. Si un produit contient 10 émissions, cela fera donc 10 lignes.
      </li>
    </ul>
  </p>
  <p>
    Une fois le fichier Excel complété, chaque onglet doit être enregistré dans un fichier <span class="bg-lg">.csv</span> à part. Les 4 fichiers ainsi créés doivent ensuite être uploadés sur le FTP, à l'intérieur des répertoires correspondant dans <span class="bg-lg">csvs/</span>. Le nom des fichiers <span class="bg-lg">.csv</span> importe peu. Tous les fichiers présents dans les répertoires <span class="bg-lg">csvs/</span>... seront traités.
  </p>
</div>

<h3 class="text-center">Fonctionnement</h3>
<div>
  <p>
    Cette application génère des fichiers XML, au format attendu par l'UE pour la notification de mise sur le marché de nouveaux produits. Les fichiers sont constitués à partir des composants XML génériques présents sur le FTP dédié, ceux-ci étant modifiés/complétés avec les valeurs propres à chaque produit telles qu'elles sont renseignées dans un fichier Excel (enregistré au format CSV sur le FTP).
  </p>
  <p>
    L'application part donc d'un canvas générique pour créer les fichiers XML : il s'agit du fichier <span class="t-i t-u bg-lg">sources_xmls/base.xml</span>. Dans cette base, seules les balises correspondant aux colonnes de l'onglet <span class="bg-lg">product_datas</span> du fichier <span class="t-i bg-lg">datas_for_eu_xml.xlsx</span> sont susceptibles être modifiées.
  </p>
  <p>
    Ensuite, différents blocs XML <span class="bg-lg">Presentation, Ingredient & Emission</span> sont insérés :
    <ul>
      <li>le bloc <span class="bg-lg">Presentation</span> générique se trouve dans le dossier <span class="bg-lg">sources_xmls/presentations</span>, dans le fichier mentionné au niveau de la colonne <span class="bg-lg">presentation_file_name</span> de l'onglet <span class="bg-lg">product_datas</span> du fichier <span class="t-i t-u bg-lg">datas_for_eu_xlsx</span>. Les balises XML <span class="bg-lg">LaunchDate, ProductNumber, Year</span> sont mises à jour en fonction des valeurs saisies dans les colonnes correspondantes de l'onglet <span class="bg-lg">product_datas</span>. Le bloc est ensuite dupliqué pour chaque pays enregistrés pour le produit dans l'onglet <span class="bg-lg">products_countries</span>, en modifiant à chaque duplication la valeur du <span class="bg-lg">NationalMarket</span>.</li>
      <li>pour chaque ingredient du produit, le bloc <span class="bg-lg">Ingredient</span> correspondant au cas number est récupéré à l'intérieur du dossier <span class="bg-lg">sources_xmls/ingredients</span>. Les balises XML correspondant aux colonnes de l'onglet <span class="bg-lg">product_ingredients</span> du fichier <span class="t-i t-u bg-lg">datas_for_eu_xml.xlsx</span> sont mises à jour en fonction des valeurs saisies dans l'Excel.</li>
      <li>pour chaque emission du produit, le bloc <span class="bg-lg">Emission</span> correspondant au cas number est récupéré à l'intérieur du dossier <span class="bg-lg">sources_xmls/emissions</span>. Les balises XML correspondant aux colonnes de l'onglet <span class="bg-lg">product_emissions</span> du fichier <span class="t-i t-u bg-lg">datas_for_eu_xml.xlsx</span> sont mises à jour en fonction des valeurs saisies dans l'Excel.</span></li>
    </ul>
  </p>
</div>

<% content_for :after_js do %>
  <script>
    console.log("hi form after_js");
    App['background_process_feedback'] = App.cable.subscriptions.create(
      { channel: 'BackgroundProcessFeedbackChannel' },
      {
        received: (data) => {
          console.log(data);
          var processInfo = document.getElementById("process_information");
          var missingXmlsContainer = document.getElementById("missings-xmls");
          var missingIngredients = document.getElementById("missing-ingredients");
          var missingEmissions = document.getElementById("missing-emissions");
          var annualSalesFeedback = document.getElementById("add-sales-feedback");
          var missingOnFTP = document.getElementById("missing_on_ftp");
          var absentInCsv = document.getElementById("absent_in_csv");
          var missingCountries = document.getElementById("missing_countries");
          processInfo.innerHTML = data.message;
          if (data.missing_ingredients || data.missing_emissions) {
            missingXmlsContainer.classList.remove("hidden");
          } else {
            missingXmlsContainer.classList.add("hidden");
          }
          if (data.missing_ingredients) {
            html = "";
            data.missing_ingredients.forEach((cas) => {
              html += "<li>" + cas + "</li>";
            })
            missingIngredients.innerHTML = html;
          }
          if (data.missing_emissions) {
            html = "";
            data.missing_emissions.forEach((cas) => {
              html += "<li>" + cas + "</li>";
            })
            missingEmissions.innerHTML = html;
          }
          if (data.missing_on_ftp || data.absent_in_csv || data.missing_countries) {
            annualSalesFeedback.classList.remove("hidden")
          }
          // console.log(data.missing_on_ftp);
          // console.log(data.missing_on_ftp === undefined || data.missing_on_ftp.length == 0);
          if (data.missing_on_ftp === undefined || data.missing_on_ftp.length == 0) {
            missingOnFTP.classList.add("hidden");
          } else {
            missingOnFTP.classList.remove("hidden");
            html = "";
            data.missing_on_ftp.forEach((fileId) => {
              html += "<li>" + fileId + "</li>";
            })
            missingOnFTP.querySelector("ul").innerHTML = html;
          }
          if (data.absent_in_csv === undefined || data.absent_in_csv.length == 0) {
            absentInCsv.classList.add("hidden");
          } else {
            absentInCsv.classList.remove("hidden");
            html = "";
            data.absent_in_csv.forEach((fileId) => {
              html += "<li>" + fileId + "</li>";
            })
            absentInCsv.querySelector("ul").innerHTML = html;
          }
          if (Object.keys(data.missing_countries).length === 0 && data.missing_countries.constructor === Object) {
            missingCountries.classList.add("hidden");
          } else {
            missingCountries.classList.remove("hidden");
            html = "";
            Object.keys(data.missing_countries).forEach( (fileId) => {
              html += "<li>" + fileId + " : " + data.missing_countries[fileId].join(", ") + "</li>";
            })
            missingCountries.querySelector("ul").innerHTML = html;
          }
        }
      }
    );
  </script>
<% end %>
